@model IEnumerable<Grosu_Andrada_ClinicAppointments.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientKaggleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighbourhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hipertension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diabetes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alcoholism)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Handicap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientKaggleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighbourhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scholarship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hipertension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diabetes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alcoholism)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Handicap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
